.home_conteiner {
    .savefavdotcom_logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: auto;
        align-items: center;
    }

    .home_title {
        text-align: center;
    }

    .home_description {
        font-size: 1.3em;
        text-align: center;
    }

    .authentication_options {
        .login_option_btn,
        .register_option_btn {
            width: 100px;

            a {
                color: #000000;
                text-decoration: none;
            }

            &:hover {
                a {
                    color: #ffffff;
                }
            }
        }
    }
}

.main_nav_container {
    .header_logo {
        width: 20px;
    }

    .new_fav_icon {
        width: 5em;
        color: #198754;

        &:hover {
            cursor: pointer;
        }
    }

    .logout_option {
        color: black;
    }
}

.content_container {
    margin-top: 5em;
}
