// Not logged page
.home_conteiner {
    .savefavdotcom_logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: auto;
        align-items: center;
    }

    .home_title {
        text-align: center;
    }

    .home_description {
        font-size: 1.3em;
        text-align: center;
    }

    .authentication_options {
        .login_option_btn,
        .register_option_btn {
            width: 100px;

            a {
                color: #000000;
                text-decoration: none;
            }

            &:hover {
                a {
                    color: #ffffff;
                }
            }
        }
    }
}

// Logged page
.main_page_container {
    .main_nav_container {
        .user_info {
            a {
                text-decoration: none;
            }
            .header_logo {
                width: 20px;
            }

            .nav_email {
                margin-left: .3em;
            }
        }

        .new_fav_icon {
            width: 5em;
            color: #198754;

            &:hover {
                cursor: pointer;
            }
        }

        .logout_option {
            color: black;
        }
    }

    .main_content {
        margin-top: 4em;

        .new_fav_btn {
            margin-left: 1em;
        }
    }
}

// New fav form modal
.new_fav_modal {
    .new_fav_btn {
        width: 100%;
    }
}

.favs_container {
    .fav_card {
        width: 100%;
    }

    .delete_fav_btn {
        margin-left: 1em;
    }
}
