.login_form_container {
    flex-direction: column;

    .savefavdotcom_logo {
        width: 100px;
        margin-bottom: 3em;
    }

    .alert_login {
        text-align: center;
    }

    .login_btn {
        width: 100%;
    }
}
